[user]
	name  = Francisco Rivas
	email = franciscorivas496@gmail.com
[color]
	# Usar colores para terminales que lo permitan
	ui = auto
[alias]
	# Para tener un comando de log mejor
	lg = log --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = vim
[diff]
	# Prefijos nemonicos para los archivos en los diff
	mnemonicPrefix = true
	renames = true
	tool = vim
[status]
	# Mostrar archivos rastreados de los directorios no rastreados
	showUntrackedFiles = all

[http]
	# proxy = http://user:pass@proxy:port
